* {
	margin:0;
	padding:0;
}

header, footer{
	background-color: lightgreen;
	padding:20px 0;
}
header{
	height: 23px;
}

footer {
	position: absolute;
	bottom:0;
	width:100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 	14px;
}

.wrap{
	max-width:1000px;
	margin: 0px auto;
	padding: 0 10px;
}

.bookmark-shortcut{
	position: relative;
	display: inline-block;
    width: 80px;
    padding: 9px;
    height: 80px;
    background-color: lightgrey;
    margin: 8px;
    cursor: pointer;
    overflow: hidden;
}

.modal-bg{
	position:fixed;
	height: 100%;
	width: 100%;
	top:0;
	
	background-color: rgba(0,0,0,0.5);
	z-index:1000;
}

.modal-bookmark{
	position: relative;
	width: 900px;
    height: 498px;
    background-color: #fff;
    margin: 31px auto;
        padding: 8px 14px;
}





.bookmark-shortcut a{
	text-decoration: none;
}

.bookmark-body{
	margin-top: 9px;
	height: 392px;
   
}

.bookmark-shortcut__close{
	
}

.close-btn{
	position: absolute;
	display: block;
	top: 5px;
	right: 5px;
}
.close-btn a{
	text-decoration: none;}

.main{
	padding: 22px 0px;
}

.tag{
	float: left;
    border: #000 1px solid;
    border-radius: 3px;
    padding: 3px;
    margin: 0px 2px;
}

.tag a {
	text-decoration: none;
	color:inherit;
}

.filter-input{
	border:0;
	padding:5px;
	border-radius:5px;
}

.main-title{
	float:left;
	opacity: 0.5;
}

.filter-wrap{
	float: right;
}
.modal-bookmark__close{
    font-size: 36px;
    line-height: 0.6;
}
.modal-bookmark__bookmark-body{
	margin-bottom: 20px;
	 overflow-y: hidden;
	 position: relative;
}
.btn{
	height: 8px;
    padding: 10px;
    background: lightgreen;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 60px;
    display: inline-block;
    line-height: 8px;
}

.modal-bookmark__del{
	float: right;
	background-color: pink;

}

.modal-bookmark__sav{
	opacity: 0.5;
}

.modal-bookmark__tags{
	    float: right;
    width: 643px;
    margin: 0 7px;
    padding-top: 2px;
}

.modal{
	display: none;
}

.modal-bookmark__controls{
	position:absolute;
	bottom:31px;
}

.add-bookmark{
	display: inline-block;

	margin-left: 12px;
	opacity:0.5;
}

.add-bookmark a {

	font-size: 29px;
	text-decoration: none;
}


.modal-creation {
	display: none;
}

.modal-bookmark_creation__title{
	border: 2px solid lightgrey;
    border-radius: 5px;
    display: block;
    width: 501px;
    height: 35px;
    text-transform: uppercase;
    padding: 0px 6px;
    font-size: 29px;
}

.bookmark-body_creation{
	padding: 5px;
	border:2px solid lightgrey;
	height: 370px;
}

.bookmark-shortcut__body{
	height: auto;
	
}

.editing {
	border:2px solid lightgrey;
	border-radius:5px;
}